<%- include('partials/header.ejs') %>.

<h1>Contact us</h1>
<p><%= contactContent %></p>
<a href="mailto:sriram.is21@bmsce.ac.in? subject=query">  
Click to send email  
</a>  
<p>Address of our headoffice</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7776.962986890146!2d77.55651357770999!3d12.941012200000012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae158b11e34d2f%3A0x5f4adbdbab8bd80f!2sBMS%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1680154334246!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


<%- include('partials/footer.ejs') %>.
